<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tablesoccerstatsapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tablesoccerstatsapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TableSoccerStatsApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TableSoccerStatsApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TableSoccerStats.Database.EntityModel.TssDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:tablesoccerstats.database.windows.net,1433;Initial Catalog=TableSoccerStats;User ID=null@tablesoccerstats.database.windows.net;Password=QWEqwe!@#123" Name="Data Source=tcp:tablesoccerstats.database.windows.net,1433;Initial Catalog=TableSoccerStats;User Id=null@tablesoccerstats.database.windows.net;Password=QWEqwe!@#123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TableSoccerStats.Database.EntityModel.TssDbContext, TableSoccerStats" MigrationConfiguration="TableSoccerStats.Migrations.Configuration, TableSoccerStats" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TableSoccerStats.Database.EntityModel.TssDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tablesoccerstats.database.windows.net,1433;Initial Catalog=TableSoccerStats;User Id=null@tablesoccerstats.database.windows.net;Password=QWEqwe!@#123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TableSoccerStats.Database.EntityModel.TssDbContext" />
  </ItemGroup>
</Project>